<header>
  <div class="container flex">      
    <a routerLink="/" class="logo">Company Logo</a>
    
    <nav>
      <ul>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/solutions">Solutions</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
    </nav>
    <a routerLink="/contact" class="contact">Get In Touch</a>
    
 
  </div>
</header>

<footer>
    <div class="container flex">
        <span class="copyright">&copy; 2017 Company All rights reserved</span>
    
        <span class="social-media">Follow us on:</span>
    </div>
    
        
</footer>
